* {
    margin: 0 auto;
    font-family: sans-serif;
}
header {
    width: 100%;
    float: left;
    background-color: #425F9C;
    color: #F2F2F2;
    font-size: 1.2em;
    padding: .5em 0;
}
.form-register {
    width: 100%;
    float: left;
    padding-top: 2em;
}
.form-register input {
    margin: 1em 0;
}

.menu {
    width: 100%;
    padding: 0 !important;
    margin: 1em .5em 0 0;
    font-size: 2em;
    font-weight: bold;
    background-color: #425F9C;
    color: #F2F2F2;
}
.menu li {
    padding: .2em;
    border-bottom: 1px solid white;
}

.menu-navbar {
    list-style: none;
    text-decoration: none;
    padding: 1em;
}
.menu-navbar li a{
    color: #F2F2F2;
}
.menu-navbar li {
    padding: 0 .5em;
    display: inline;
    color: #F2F2F2;
    font-size: 1.3em;
}