<header>
    <div style="float: left; padding-left: 1em;">Prestação de Serviço</div>
    <div style="float: right; padding-right: 1em;">Sair</div>
</header>
<main class="container-fluid">
    <div style="text-align: center;">
        <img src="/imgs/user.jpg">
        <h3>John Deer</h3>
        <ul class="menu">
            <li>Perfil</li>
            <li>Atividades</li>
            <li>Clientes</li>
            <li>Atendimentos</li>
            <li>Configurações</li>
        </ul>
    </div>
</main>